#root {
  margin: 0 auto;
  text-align: center;
}

.border-row {
  border-bottom: 1px solid grey;
  clear: both;
}

.col-25 {
  width: 25%;
  float: left;
}

.col-75 {
  width: 75%;
  float: left;
}

.details {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.details-fields {
  width: 50%;
}

.details-border {
  display: block;
  text-decoration: underline;
  color: blueviolet;
}
